/* src/components/SpecialOffer.css */
.special-offer {
    display: flex;
    align-items: center;
    padding: 0 80px;
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
      
  }
  
  .offer-image img {
    width: 450px;
    height: auto;
    margin-top: 50px;
    position: relative;
    
  }
  
  .offer-details {
    max-width: 400px;
    text-align: left;
    margin-left: 80px;
  }
  
  .offer-label {
    color: #e6007e;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 12px;
  }
  
  .offer-details h2 {
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 10px;
  }
  
  .offer-details p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .offer-button {
    background-color: #e6007e;
    color: #fff;
    padding: 8px 70px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .offer-button:hover {
    background-color: #E7FF86;
    color:#474747;
  }
  
  